<?xml version="1.0" ?>
<model>
  <name>tellus</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Intelligent Connectivity and Networks Group (ICON), University of Oulu</name>
    <email>Madushanka.HewaPathiranage@oulu.fi</email>
  </author>
  <description>
    Tellus arena at the University of Oulu. Imported from
    ICONgroupCWC/Gazebo-Sionna-RT-Integration (MIT). See ATTRIBUTION.md.
  </description>
</model>
