<?xml version="1.0" ?>
<!--
  road_material は SDF モデルではなくテクスチャ置き場である。model.sdf を
  持たないため Gazebo はモデルとして扱わないが、road_model.sdf が
  model://road_material/materials/textures/road_texture.jpg を参照するので
  ディレクトリが GZ_SIM_RESOURCE_PATH 上に存在する必要がある。

  この model.config は「意図的に置いてある」ことを示すためだけのもので、
  Gazebo の動作には不要。
-->
<model>
  <name>road_material</name>
  <version>1.0</version>
  <author>
    <name>Intelligent Connectivity and Networks Group (ICON), University of Oulu</name>
    <email>Madushanka.HewaPathiranage@oulu.fi</email>
  </author>
  <description>
    レーストラックのテクスチャ。materials/textures/road_texture.jpg (894x894) を
    road_model.sdf が albedo_map として参照する。同梱の
    materials/scripts/road.material は Gazebo Classic 用の Ogre material script
    で、Harmonic では使われない (PBR 指定に置き換えたため)。参照用に残している。
  </description>
</model>
